.Home-Page {
  display: flex;
  justify-content: center;
  width: 70vw;
  height: 70vh;
  background-color: var(--forth-color);
  box-shadow: var(--fifth-color) 5px 5px, var(--forth-color) 10px 10px,
    var(--third-color) 15px 15px, var(--second-color) 20px 20px 25px 25px;
  border-radius: 20px;
  margin: 5%;
}
