
/* .Home-Page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    height: 90vh;
    background-color: #74C69D;
    box-shadow: #74C69D 5px 5px, #95D5B2 10px 10px, #B7E4C7 15px 15px, #D8F3DC 20px 20px  25px 25px;    border-radius: 5%;
}

.Add-Meals {
    align-self: center;
    background-color: var(--fifth-color) !important;
    border-color: var(--fifth-color) !important;
  }
  
  .Add-Meals:hover,
  .Add-Meals:focus {
    border-color: var(--fourth-color);
    background-color: var(--fourth-color) !important;
    color: var(--first-color) !important;
  } */

.Home-Page {
  display: flex;
  align-items: center;
  width: 70vw;
  height: 70vh;
  background-color: var(--forth-color);
  box-shadow: var(--fifth-color) 5px 5px, var(--forth-color) 10px 10px,
    var(--third-color) 15px 15px, var(--second-color) 20px 20px 25px 25px;
  border-radius: 20px;
  margin: 5%;
}

.Home-Header {
  font-size: 2vw !important;
  padding: 2%;
}

