.User-Preferences-Component {
  display: flex;
  flex-direction: column;
  width: 375px !important;
  height: 70%;
  align-self: center;
  padding: 4%;
  margin: 3%;
  background-color: var(--forth-color);
  box-shadow: var(--forth-color) 5px 5px, var(--third-color) 10px 10px,
    var(--second-color) 15px 15px, var(--first-color) 20px 20px 25px 25px;
  border-radius: 5%;
}

.User-Preferences-Form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  min-width: 90% !important;
  height: fit-content;
}

.User-Preferences-Submit {
  position: absolute;
  left: 0;
  align-self: center;
  background-color: var(--fifth-color) !important;
  border-color: var(--fifth-color) !important;
}

.User-Preferences-Submit:hover,
.User-Preferences-Submit:focus {
  border-color: var(--fourth-color);
  background-color: var(--fourth-color) !important;
  color: var(--first-color) !important;
}

.Idle-Avocado {
  width: 100px !important;
  height: 100px !important;
  align-self: center;
  margin-bottom: 5%;
}
