.Navbar {
  position: absolute;
  left: 0;
  top: 0;
  height: 75px;
  width: 100%;
  z-index: 2;
  text-align: center;
  color: #fff;
  line-height: 120px;
  background-color: var(--second-color) !important;
  box-shadow: var(--fifth-color) 0 5px;

  display: flex;
  justify-content: center;
}

.Navbar-Logo {
  width: 175px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.System-Name {
  font-size: 20px;
  font-weight: bold;
}

.Idle-Logo {
  height: 50px;
  width: 50px;
}

.Navbar-User {
  width: 175px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: absolute;
  right: 0;
}

.User-Name {
  font-size: 14px;
  margin-left: 4px;
}

.User-Picture {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
