#root {
  margin: 0 auto;
  text-align: center;
}

.colorScheme{

  background-color: #D8F3DC;
  background-color: #B7E4C7;
  background-color: #95D5B2;
  background-color: #74C69D;
  background-color: #3DAC78;

}
